@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin:0;
}

nav {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px 50px;
}

.logo {
    width: 35%;
}
.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: rgb(39, 39, 39);
    padding: 10px 20px;
    border-radius: 50px;
}
.searchInput {
    border: none;
    background-color: transparent;
}
.searchInput::placeholder {
    color: lightgray;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuItem {
    margin-right: 40px;
    font-weight: 340;
    cursor: pointer;
}

.slider {
}
.sliderWrapper {
    display: flex;
    width: 500vw;
}
.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}